:root {
  --base-text-color: #212121;
  --light-text-color: #757575;
  --my-blue: #2196f3;
  --dark-back: #2f303a;
  --light-back: #f5f4fa;
  --just-white: #ffffff;
  --just-black: #000000;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--base-text-color);
  background-color: var(--just-white);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  display: flex;
  width: 1170px;
  flex-grow: 0;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.section {
  margin: 0 auto;
  padding-bottom: 94px;
}
.main-head-background {
  display: flex;
  background-color: var(--dark-back);
}
header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.header-border {
  border-bottom: solid 1px #ececec;
}
footer {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-back);
}
.list {
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
}
.list-nav {
  padding: 32px 0px 32px 0px;
  margin: 0px 0px 0px 93px;
}
.list-item-nav:not(:first-child) {
  padding-left: 43px;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-profile {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 0px;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 94px;
  background-color: #f5f4fa;
}
.list-team {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 0px;
}
.list-team li {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.list-team img {
  display: block;
}
.list-team div {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.filter-button {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  gap: 8px;
}
.product-tab {
  display: flex;
  flex-direction: column;
}
.product {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px;
  margin: 0px;
}
.product li {
  background-color: #ffffff;
}
.product img {
  display: block;
}
.product div {
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: solid 1px #eeeeee;
  border-right: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
}
.footer-box {
  display: flex;
  flex-direction: column;
  width: 1170px;
  margin: auto;
  background-color: var(--dark-back);
  padding-top: 60px;
}
.list-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 60px;
}
.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: 24px 0px 25px 0px;
}
.logo-part1 {
  color: var(--my-blue);
}
.logo-part2 {
  color: var(--just-black);
  margin-right: 0px;
}
footer .logo {
  padding: 0px 0px 0px 0px;
  margin-bottom: 20px;
}
footer .logo-part2 {
  color: var(--just-white);
}
.navi-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  text-decoration: none;
  color: var(--base-text-color);
  letter-spacing: 0.02em;
}
.navi-link:hover,
.navi-link:focus {
  color: var(--my-blue);
}
.current-link {
  color: var(--my-blue);
}
.header-contacts {
  margin-left: 371px;
  padding: 32px 0px 32px 0px;
}
.h-cont-item:nth-child(2) {
  margin-left: 50px;
}
.header-contacts a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  text-decoration: none;
  color: var(--light-text-color);
  letter-spacing: 0.02em;
}
.header-contacts :hover,
.header-contacts :focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--my-blue);
}

.main-header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1170px;
}
.main-head-background {
  background-color: var(--dark-back);
}
.main-header {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--just-white);
  text-align: center;
  margin: 0px;
}
.main-header p {
  margin: 0px;
}

.button-order {
  width: 200px;
  height: 50px;
  background-color: var(--my-blue);
  border-color: var(--my-blue);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--just-white);
  cursor: pointer;
  font-family: inherit;
  line-height: 1.88;
  margin-top: 30px;
}
.section-header {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 0px 0px 50px 0px;
}

.list-advantage {
  display: flex;
  width: 1170px;
  gap: 30px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.advantage {
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0px;
  margin-bottom: 10px;
}
.adv-delail {
  font-size: 14px;
  line-height: 1.71;
  color: var(--light-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
}
.team-section-background {
  background-color: var(--light-back);
}
.employee-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 0px 0px 0px 0px;
}
.employee-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
  margin-bottom: 0px;
  margin-top: 10px;
}
.footer-contact {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  color: var(--just-white);
}
.footer-mail,
.footer-phone {
  color: rgba(255, 255, 255, 0.6);
}
.filter-button {
  display: flex;
}
.filter-button button {
  font-size: 16px;
  font-weight: 500;
  color: var(--base-text-color);
  background-color: #f5f4fa;
  border-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0.03em;
  line-height: 1.63;
}
.filter-button button:hover,
.filter-button button:focus {
  background-color: var(--my-blue);
  color: var(--just-white);
  border-radius: 4px;
}
.prod-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 4px;
  padding: 0px 24px 0px 24px;
}
.prod-type {
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.88;
  color: var(--light-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 24px 0px 24px;
}
